* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: rgb(29, 29, 29);
  color: #e3e3e3;

}
.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  margin-bottom: 50px;
}

.box {
  background-color: red;
  height: 100vh;
  background-image: url('./images/BG.png');
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 106px;
  width: 100%;
}

.box.question2 {
  background-image: url('./images/BG2.png');
} 

#logo {
  width: 404px;
  height: 107px;
  margin-bottom: 30px;
}

#cenarios {
  margin-top: 56px;
  margin-bottom: 56px;
}

.text {
  font-size: 2.5rem;
}

.btn {
  padding: 24px 101px;
  font-size: 2.5rem;
  text-decoration: none;
  background-color: #6021D8;
  color: white;
  border-radius: 999px;
  font-weight: 700;
  box-shadow: 0px 4px 26px 1px #6021D8;
}

.btn.continue {
  padding: 24px 150px;
  margin-right: 49px;
}

.btn-help, .btn-exit {
  width: 101px;
  height: 101px;
  border-radius: 999px;
  background-color: #FF305C;
  color: white;
  font-weight: 700;
  font-size: 2.5rem;
  outline: 0;
  border: 0;
}

.buttons-home {
  display: flex;
}

.buttons-finish {
  margin-top: 100px;
}

.btn-help {
  position: absolute;
  right: 120px;
}

.popover {
  bottom: 127px;
  right: 0;
  position: absolute;
  color: black;
  width: 850px;
  border-radius: 12px;
  background-color: white;
  text-align: left;
  padding: 30px;
}

.popover #sair {
  position: absolute;
  right: 27px;
  top: 27px;
  color: red;
}

.popover ol {
  font-size: 24px;
  font-weight: 400;
  padding-left: 50px;
  margin-top: 20px;
}

.hidden {
  display: none;
}

.correct-answer {
  background-color: #73FFB4 !important;
}

.wrong-answer {
  background-color: #FF3D3D !important;
  color: #fff !important;
}

.buttons-advance {
  margin-top: 40px;
  position: relative;
  left: 60px;
}

.popover-level {
  bottom: 158px;
  right: -11px;
  position: absolute;
  color: black;
  width: 680px;
  border-radius: 12px;
  background-color: white;
  text-align: left;
  padding: 30px;
  text-align: center;
  height: 200px;
}

.popover-level::after {
  content: '';
	position: absolute;
	bottom: 0;
	left: 97%;
	width: 0;
	height: 0;
	border: 50px solid transparent;
	border-top-color: #fff;
	border-bottom: 0;
	margin-left: -94px;
	margin-bottom: -48px;
}

.popover-level .buttons {
  position: relative;
  top: 30px;
}

.popover-level .buttons a {
  text-decoration: none;
  color: #fff;
  padding: 14px 45px;
  border-radius: 10px;
}

.popover-level .buttons .btn-finish {
  background-color: #71B32B;
  margin-right: 30px;
}

.popover-level .buttons .btn-continue {
  background-color: #FF5A5A;
  
}