.questions {
  background-color: #161616;
  width: 730px;
  border-radius: 20px;
  padding: 150px 40px 40px 40px;
  position: relative;
}

.questions::before {
  position: absolute;
  top: -70px;
  left: -100px;
}
.questions.question1::before {
  content: url('./images/Map-level1.png');
}

.questions.question2::before {
  content: url('./images/Map-level2.png');
  top: -115px;
  left: -125px;
}

.questions.question3::before {
  content: url('./images/Map-level3.png');
  top: -86px;
  left: -106px;
}

.questions.question4::before {
  content: url('./images/Map-level4.png');
  top: -104px;
  left: -85px;
}

.questions.question5::before {
  content: url('./images/Map-level5.png');
  top: -130px;
  left: -110px;
}

.questions .title-question {
  margin-bottom: 30px;
  text-align: center;
}

.questions hr {
  margin-bottom: 30px;
}

.questions ul{
  list-style:none;
}

.questions ul li {
  padding: 40px 36px;
  background-color: white;
  margin-bottom: 10px;
  border-radius: 20px;
  color: black;
  font-weight: 900;
  font-size: 30px;
  text-align: center;
}

.outer-circle {
  width: 151px;
  height: 151px;
  border-radius: 999px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  left: 290px;
  top: -50px;
}

.question1 .outer-circle {
  border: 4px solid #F26C22;
}

.question2 .outer-circle {
  border: 4px solid #00D715;
}

.question3 .outer-circle {
  border: 4px solid #00DFEC;
}

.question4 .outer-circle {
  border: 4px solid #FFF;
}

.question5 .outer-circle {
  border: 4px solid #FFD600;
}

.inner-circle {
  width: 101px;
  height: 101px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 999px;
  font-size: 50px;
  font-weight: bold;
  color: #000;
}

.question1 .inner-circle {
  background: #FF6900;
}

.question2 .inner-circle {
  background: #00D715;
}

.question3 .inner-circle {
  background: #00DFEC;
}

.question4 .inner-circle {
  background: #FFF;
}

.question5 .inner-circle {
  background: #FFD600;
}

#questions1 {
  padding: 20px 40px;
}

.questions-progress {
  position: absolute;
  bottom: 80px;
  width: 498px;
  height: 36px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 52px;
  display: flex;
  align-items: center;
}

.questions-inner-progress {
  height: 28px;
  border-radius: 52px;
  margin-left: 4px;
}

.questions-inner-progress.level1 {
  background: #FF6900;
  width: 20%;
}

.questions-inner-progress.level2 {
  background: #00D715;
  width: 40%;
}

.questions-inner-progress.level3 {
  background: #00DFEC;
  width: 60%;
}

.questions-inner-progress.level4 {
  background: #FFF;
  width: 80%;
}

.questions-inner-progress.level5 {
  background: #FFD600;
  width: 90%;
}

.hero-question {
  position: absolute;
  bottom: 0;
  right: 60px;
}

.hero-question.level2 {
  right: -25px;
}

.hero-question.level3 {
  right: -100px;
}

.hero-question.level4 {
  right: -69px;
}

.hero-question.level5 {
  right: -60px;
}

.hero-question img {
  width: 125%;
}

.hero-question.level2 img {
  width: 110%;
}

.hero-question.level3 img {
  width: 100%;
}